# Copyright (c) Microsoft Corporation.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

# Ignore results of reproducing a signing job locally.
*.binlog
obj/
signing-log/
signing-temp/
tosign/
