# Require review from golang-compiler team for changes in all files.

* @microsoft/golang-compiler

# Don't assign a code owner to automatically updated files to allow GitHub apps to use the
# auto-merge flow without human intervention.
go/
MICROSOFT_REVISION
VERSION
