# Require review from golang-compiler team for changes in any file. This keeps us in the loop on
# auto-merge PRs. The review bot is also an owner so that it can still trigger auto-merge for sync
# PRs on its own. We may remove this rule once auto-merges are routine.
* @microsoft/golang-compiler @microsoft-golang-review-bot

# Automatically request review from golang-compiler team for changes in the Microsoft-specific
# files. This takes precedence over earlier rules in the file.
/eng/ @microsoft/golang-compiler
