# Automatically request review from golang-compiler team for changes in the Microsoft-specific files.
/microsoft/ @microsoft/golang-compiler

# Require review from golang-compiler team for changes in any file. This keeps us in the loop on
# auto-merge PRs. We may remove this rule once auto-merges are routine.
* @microsoft/golang-compiler
