[submodule "go"]
	path = go
	url = https://github.com/golang/go
	urlInternal = https://dnceng@dev.azure.com/dnceng/internal/_git/microsoft-go-mirror
[submodule "eng/modules/golang.org/x/crypto"]
	path = modules/golang.org/x/crypto
	url = https://github.com/dagood/golang_xcrypto
	urlInternal = https://dnceng@dev.azure.com/dnceng/internal/_git/microsoft-go-xcrypto-fork-placeholder
