# On Windows, running "git apply" with CRLF patch files causes an error for binary files:
# "git diff header lacks filename information when removing 1 leading pathname component".
# To fix this, always check out patch files as LF.
*.patch -text
