# Copyright (c) Microsoft Corporation.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

# Ignore build artifacts and intermediate files.
artifacts/

# Ignore Arcade C# project artifacts and intermediate output.
*.binlog
obj/
bin/
