# Ignore templates in this directory, if any. "microsoft-apply-templates.sh"
# copies them from the root into this directory to let the upstream
# "apply-templates.sh" script use them while it runs from this directory. They
# are effectively build artifacts.
/Dockerfile-*.template
